@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/*
Color palette #03 from: https://designschool.canva.com/blog/brand-color-palette/
EDFAFD
AED9DA
3DDAD7
2A93D5
135589
*/

body {
  /*background: linear-gradient(130deg, #1aa9e2 0%, #103359 100%, #303030 90%);
  color: white;*/
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none;
}

.app {
  text-align: center;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #005f83;
  height: 25px;
  padding: 10px;
  color: white;
}

.app-header-content {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-header i {
  margin: 0 5px;
  cursor: pointer;
}

.app-title {
  margin: 0;
}

.app-header .nav {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
}

.back {
  text-align: left;
  margin: 10px auto;
  max-width: 450px;
  font-size: 34px;
}

.login-page {
  width: 90%;
  padding: 8% 0 0;
  margin: auto;
}

.signup-page {
  width: 90%;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  font-family: "Roboto", sans-serif;
}
.form input {
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  outline: 0;
  background: #f2f2f2;
  width: 60%;
  box-sizing: border-box;
  font-size: 14px;
  color: #005f83;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #005f83;
  width: 60%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form .message {
  color: #a3a3a3;
  font-size: 14px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.forgot-pass-page {
  width: 90%;
  padding: 0;
  margin-top: 20px;
  margin: auto;
}

.forgot-pass-link {
  display: block; /* TODO this is wider than it should be; unintentional clicks */
}

.categories-list {
  list-style: none;
  padding-left: 0;
}

::placeholder {
  text-align: left;
  color: #aaaaaa;
}

label {
  display: block;
  margin: 5px;
  color: #135589;
  font-size: 20px;
}

.signup-page {
  text-align: center;
}

.btn {
  border: 0;
  margin: 10px auto;
  width: 70%;
  height: 90px;
  background-color: #005f83;
  font-size: 1.5em;
  text-decoration: none;
  color: #fafafa;
}

.card-chooser-page {
  display: flex;
  flex-flow: column wrap;
  align-self: center;
}

.card-chooser-container {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  max-width: 600px;
}

.card {
  border: 1px solid #2A93D5;
  border-radius: 4px;
  margin: 10px auto;
  width: 40%;
  max-width: 140px;
  background-color: #005f83;
  text-decoration: none;
  color: #fafafa;
}

.card-text {
  padding: 10px;
}

.card-toggled {
  background-color: #005f83;
  border-color: #b3ffa8;
  box-shadow: 0px 0px 10px 7px #2A93D5;
}

.info-text {
  margin: 20px auto;
}

.results-btn {
  height: 150px;
}

.back-btn {
  margin-top: 10px;
  border: 1px solid #2A93D5;
  height: 40px;
  background-color: #EDFAFD;
  font-size: 1em;
  text-decoration: none;
  color: #005f83;
}

.submit-cards {
  background-color: #2A93D5;
}

.logout {
  margin-top: 100px;
  border: 2px solid #2A93D5;
  border-radius: 5px;
  width: 40%;
  height: 30px;
  background-color: #EDFAFD;
  font-size: 1em;
  text-decoration: none;
  color: #135589;
}

/*This styling below applies only to screens with more than 400px:*/
@media screen and (min-width: 420px) {

  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form button:hover,.form button:active,.form button:focus {
    background: #005472;
  }

  .CategoryList{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }

  .btn{
    width: 320px;
    height: 90px;
  }

  .btn:hover{
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  }

  .results-btn {
    height: 200px;
  }

  .back-btn{
    height: 40px;
    width: 80px;
  }

  .logout {
    width: 80px;
  }

  .forgot-pass-page {
    width: 90%;
    padding: 2% 0 0;
    margin: auto;
  }
}
