/*
Color palette #03 from: https://designschool.canva.com/blog/brand-color-palette/
EDFAFD
AED9DA
3DDAD7
2A93D5
135589
*/

ul {
  list-style: none;
  padding-left: 0;
}

input {
  display: block;
  border: 1px solid #2A93D5;
  color: #135589;
  height: 50px;
  font-size: 30px;
  margin: 5px auto;
  padding: 5px 20px;
  width: 50%;
  border-radius: 5px;
  background: #EDFAFD;
}

::placeholder {
  text-align: center;
  color: #AED9DA;
}

label {
  display: block;
  margin: 5px;
  color: #135589;
  font-size: 20px;
}

.signup-page {
  text-align: center;
}

.btn {
  border: 2px solid #2A93D5;
  border-radius: 5px;
  margin: 10px auto;
  width: 95%;
  height: 90px;
  background-color: #EDFAFD;
  font-size: 2em;
  text-decoration: none;
  color: #135589;
}

.results-btn {
  height: 150px;
}

.back-btn {
  margin-top: 10px;
  border: 2px solid #2A93D5;
  border-radius: 5px;
  width: 80%;
  height: 30px;
  background-color: #EDFAFD;
  font-size: 1em;
  text-decoration: none;
  color: #135589;
}

.card-text {
  padding: 15px;
}

.card-toggled {
  background-color: #EDFAFD;
  border-color: #b3ffa8;
  box-shadow: 0px 0px 10px 7px #2A93D5;
}

.submit-cards {
  background-color: #2A93D5;
  color: #EDFAFD;
}

.submit-btn {
  margin-top: 75px;
}

.logout {
  margin-top: 10px;
  border: 2px solid #2A93D5;
  border-radius: 5px;
  width: 40%;
  height: 30px;
  background-color: #EDFAFD;
  font-size: 1em;
  text-decoration: none;
  color: #135589;
}

/*This styling below applies only to screens with more than 400px:*/
@media screen and (min-width: 400px) {

  input {
    width: 150px;
    font-size: 20px;
  }

  .CategoryList{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }

  .btn{
    width: 320px;
    height: 100px;
  }

  .btn:hover{
    box-shadow: 6px 5px 30px #505050;
  }

  .results-btn {
    height: 200px;
  }

  .back-btn{
    width: 80px;
  }

  .back-btn:hover{
    box-shadow: 6px 5px 30px #505050;
  }

  .logout {
    width: 80px;
  }
}
